[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-utils"]
	path = lib/solidity-utils
	url = https://github.com/bgd-labs/solidity-utils
	branch = v1.1.0
[submodule "lib/aave-address-book"]
	path = lib/aave-address-book
	url = https://github.com/bgd-labs/aave-address-book
	branch = b2d4bde
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.1
[submodule "lib/gho-core"]
	path = lib/gho-core
	url = https://github.com/aave/gho-core
	branch = 457d8eb7
[submodule "lib/aave-v3-core"]
	path = lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
	branch = v1.17.2
[submodule "lib/aave-stk-v1-5"]
	path = lib/aave-stk-v1-5
	url = https://github.com/bgd-labs/aave-stk-v1-5
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/miguelmtzinf/aave-helpers
